@font-face {
    font-family: 'Exo2';
    src: url(base/fonts/Exo2-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Exo2-Thin';
    src: url(base/fonts/Exo2-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Exo2-ext';
    src: url(base/fonts/Exo2-ExtraLight.ttf) format('truetype');
}
